@import "tailwindcss";
@config "../../tailwind.config.js";

@theme comments-carosel {
  --animate-scroll: carouselAnimation var(--animation-direction, forwards)
    linear infinite 0.2s;
  @keyframes carouselAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1 * var(--scroll-width)));
    }
  }
}
.comments-carosel {
  display: flex;
  animation: carouselAnimation 100s linear infinite;
}
